:root {
  font-size: 20px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 300px;
  background-color: #0d1b2a;
  display: flex;
  position: relative;
  /* height: 2000px; */
}

img.background {
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("../../../misc/portfolio\ project/svg-path.svg");
  filter: drop-shadow(0 0 4px grey);
}

main {
  position: relative;
  flex: auto;
}

a {
  color: yellow;
}

nav {
  position: sticky;
  top: 0;
  min-height: 60px;
  background-color: #1b263b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  box-shadow: 0 2px 4px black;
}

nav > a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 8px;
}

nav > a:hover {
  outline: 1px solid white;
}

nav > a:active {
  background-color: white;
  color: black;
}

section#about {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.pfpContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e1dd;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.pfpContainer img {
  min-width: 100px;
  height: auto;
  width: 60%;
  filter: drop-shadow(0 0 4px #1b263b);
}

div.info {
  max-width: 600px;
  /* background-color: #415a77; */
  padding: 0 12px;
}

div.info h1 {
  margin-bottom: 12px;
  text-align: center;
}

div.info a:visited {
  color: rgb(255, 201, 101);
}

div.info ul {
  margin-top: 12px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

div.info img.profile-icon {
  width: 32px;
}

div.info ul a:first-of-type img.profile-icon {
  filter: invert(87%) sepia(89%) saturate(0%) hue-rotate(261deg)
    brightness(110%) contrast(97%);
}
