section#projects {
  max-width: 1070px;
  margin: auto;
}

ul.cardContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 36px;
}

li.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #415a77;
  box-shadow: 0 0 8px black;
}

li.card > h3,
li.card > p {
  margin: 12px;
}

@media (min-width: 660px) {
  section#projects h2 {
    flex: auto;
    margin-left: 50px;
  }
}
