:root {
  font-size: 24px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: #0d1b2a;
  display: flex;
}

main {
  position: relative;
}

nav {
  position: sticky;
  top: 0;
  min-height: 60px;
  background-color: #1b263b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

nav > a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 8px;
}

nav > a:hover {
  outline: 1px solid white;
}

nav > a:active {
  background-color: white;
  color: black;
}
